<div class="app">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10" [mapTypeId]="'roadmap'" [styles]="mapstyle">
    <agm-marker
            [iconUrl]="placemarkerImage"
            [latitude]="location.position.lat"
            [longitude]="location.position.lng"
            *ngFor="let location of locations"
            (markerClick)="markerClick(location.id)"
    >
      <agm-snazzy-info-window [maxWidth]="350" [maxHeight]="350" [closeWhenOthersOpen]="true">
        <ng-template>
          City: {{location.city}}<br>
          Billboard ID: {{location.billboard_id}}<br>
          Location: {{location.location}}<br>
          Orientation: {{location.orientation}}<br>
          Size: {{location.size}}<br>
          County: {{location.county}}<br>
          Highway: {{location.highway}}<br>
          <a href="{{apibase}}/locations/{{location.id}}/pdf">More Information</a><br>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</div>