<div class="app">
  <div class="row">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10" [mapTypeId]="'roadmap'" [styles]="mapstyle">
    <agm-marker
            [iconUrl]="placemarkerImage"
            [latitude]="location.position.lat"
            [longitude]="location.position.lng"
            *ngFor="let location of locations"
            (markerClick)="loadInfoPanel(location)"
    >
    </agm-marker>
  </agm-map>
  </div>
</div>
<div class="sidebar" [@slideInOut]="sliderState">
  <div class="row">
    <div class="col-xs-12" (click)="toggleMenu()">
      <i class="fas fa-times-circle"  style="color:#fff; font-size:2em;"></i>
    </div>
  </div>
  <div class="row">
    <location-detail [location]="selectedlocation"></location-detail>
  </div>
</div>