.sidebar {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    left: auto;
    right: 0;
    bottom: 0;
    background-color: #0d3373; /* Black*/
    color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    width: 30%;
    min-width: 350px;
    z-index: 9999;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
        width: 100%;
    }
}